<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/icon_fonts.css">
    <link rel="stylesheet" href="style/header.css" >
    <link rel="stylesheet" href="style/footer.css" >
    <link rel="stylesheet" href="style/make_order.css">
    <link rel="stylesheet" href="style/item_card.css">
    <link rel="stylesheet" href="style/main.css">


</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <div class="content">
        <div th:fragment="item_card">

            <div class="card_item marg_1em_top">
                <div class="card_item-img_item"></div>
                <div class="img_item_main">
                    <div class="img_item_main-img_main">
                        <img th:src="@{'/{img}'(img=${item.img})}" alt="">

                    </div>
                </div>
            <div class="card_item-description ">
                <div class="item_card-name_item marg_0_5em_bot"><span th:text="${item.name}"></span></div>
                <div class="item_card-price-rating ">
                    <div class="item_card_price-price"><span th:text="${item.price}"></span>.руб</div>
                    <div class="item_card-rating">
                        <div class="rating_ch_review"><div class="item_card-ch_review marg_0_5em_right">3</div>отзыва</div>
                        <div class="rating_stars"></div></div>
                </div>
                <div class="item_card-article_block ">
                    <div class="article dis_flex marg_1em_top"><span class="f_bold marg_0_5em_right "> Артикул: </span>
                        <div class="article_value"> <span th:text="${item.article}"></span></div>
                    </div>
                    <div class="item_card-brand dis_flex marg_0_5em_top"><span class="f_bold marg_0_5em_right "> Бренд: </span>
                        <div class="brand_value"><span th:text="${item.brand}"></span></div>
                    </div>
                    <div class="composition_item dis_flex marg_0_5em_top"><span class="f_bold marg_0_5em_right "> Материал: </span>
                        <div class="brand_value"><span th:text="${item.material}"></span></div>
                    </div>

                </div>
                <div class="description-text ">
                    <span th:text="${item.description}"></span>
                </div>
                <div class="property_item_row marg_1em_top dis_flex ">
                    <div class="property_item-size marg_1em_right  marg_1em_top">
                        <div class="prop_item_title marg_0_5em_left marg_0_5em_bot ">РАЗМЕР</div>
                        <div class="dis_flex">
                            <div class="size_xl  btn_prop_act btn_prop">XL</div>
                            <div class="size_xll btn_prop">XLL</div>
                            <div class="size_M   btn_prop btn_none_item">M</div>
                            <div class="size_l   btn_prop btn-none_item">L</div>
                            <div class="size_s   btn_prop">S</div></div>
                    </div>
                    <div class="property_item-color marg_1em_top marg_1em_left ">
                        <div class="prop_item_title marg_0_5em_bot">ЦВЕТ</div>
                        <div class="select marg_1em_top"><select>
                            <option>черный</option>
                            <option>белый</option>
                        </select></div>
                    </div>
                </div>
                <div class="item_card-btn_add dis_flex marg_2em_top marg_2em_bot">
                    <div class="card-btn card-add_basket marg_1em_right">В КОРЗИНУ</div>
                    <div class="card-btn card-add_wish">В ИЗБРАННОЕ</div>
                </div>
                <div class="about_center-bot_panel">
                    <div class="bot_panel-text">Поделиться с друзьями:</div>

                    <div class="bot_panel-block_btn">
                        <div class="block_btn-img1"></div>
                        <div class="block_btn-ch">122</div>
                    </div>

                    <div class="bot_panel-block_btn">
                        <div class="block_btn-img2"></div>
                        <div class="block_btn-ch">220</div>
                    </div>

                    <div class="bot_panel-block_btn">
                        <div class="block_btn-img3"></div>
                        <div class="block_btn-ch">330</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>












